body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #338BB8;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  border: black solid 1px;

  span {
    font-weight: bold;
    font-size: 20px;
    color: white;
  }
}
.back-to-home {
  display: block;
  color: white;
}
.category {
  width: 80%;
  margin: 20px auto;

  &__name {
    display: block;
    margin-bottom: 10px;
  }
}

.articles {
  display: flex;
  gap: 16px;
}

.article {
  &__image {
    width: 150px;
  }
}

.article-detail {
  width: 80%;
  margin: 20px auto;

  img {
    max-height: 400px;
  }
}