nav {
  background-color: #338BB8;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  border: black solid 1px;

  span {
    font-weight: bold;
    font-size: 20px;
    color: white;
  }
}